{% extends '::base.html.twig' %}

{% block title %}TNT MoCo - Control Panel{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/libs/semantic/packaged/css/semantic.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/libs/jquery.qtip/jquery.qtip.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/libs/jquery-ui/css/cupertino/jquery-ui-1.10.4.custom.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/css/perfect-scrollbar.min.css') }}" />	
	<link rel="stylesheet" href="{{ asset('assets/css/backend.css') }}" />
{% endblock %}


{% block js %}	
	<script src="{{ asset('assets/js/jquery.js') }}"></script>        
	<script src="{{ asset('assets/libs/semantic/packaged/javascript/semantic.js') }}"></script>
	<script src="{{ asset('assets/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
	<script src="{{ asset('assets/libs/jquery.qtip/jquery.qtip.min.js') }}"></script>	
	<script src="{{ asset('assets/js/jquery.address.js') }}"></script>	
	<script src="{{ asset('assets/js/perfect-scrollbar.min.js') }}"></script>
	<script src="{{ asset('assets/js/perfect-scrollbar.with-mousewheel.min.js') }}"></script>
	
	<script src="{{ asset('assets/js/backend.js') }}"></script>
	<script src="{{ asset('assets/js/list.min.js') }}"></script>	
{% endblock %}


{% block body%}

{% if app.user %}

	<div id="top">
		<div class="left first">
			{#<img class="ui avatar image" src="{{ asset('assets/images/admin_icon.png') }}">#}
			<a href="{{ path('user_profile_edit') }}" style="color:inherit;">
				<div class="ui avatar image"></div>
				{{ app.user.username }}
				</a>
			<div class="iconWrapper" id="getSideBar" onclick="window.location.href='{{ path('logout') }}'"><i class="off icon link"></i></div>
		</div>
		<div class="left second">
			<h4 class="depth" title="TNT MOCO CONTROL PANEL">TNT MOCO CONTROL PANEL</h4>
					
			<div class="ui top sidebar small multipleParamSettings" id="topSidebar">		
			{#	{{ include ('TGAppBundle:Backend/Params:multipleParamsForm.html.twig', {'multipleParamsForm': multipleParamsForm}) }} #}
			</div>
			
		</div>
	</div>

{% endif %}

<div id="middle">

	
	{% if app.user %}
	
		<div id="menu_wrapper">
		
			<div class="ui vertical small menu inverted mainMenu">
				{#
				<div class="header item">
					<i class="tasks icon"></i>
					Catalog
				</div>
				#}
				
				{#
				<a class="item" href="{{ path('home') }}">
					<i class="home icon"></i> Home
				</a>
				#}
				
				{% if app.user.isAdmin %}
				<a class="item" href="{{ path('users') }}">
					<i class="user icon"></i> Users
				</a>
				{% endif %}
				
				{% if app.user.isGranted("ROLE_SUPER_ADMIN") %}
				<a class="item" href="{{ path('countries') }}">
					<i class="globe icon"></i> Countries
				</a>
				{% endif %}
				
				{% if app.user.isGranted("ROLE_SUPER_ADMIN") %}
				<a class="item" href="{{ path('depots') }}">
					<i class="map marker icon"></i> Depots
				</a>
				{% endif %}
								
				<a class="item" href="{{ path('data_entry') }}">
					<i class="keyboard icon"></i> Data Entry
					{{ render(controller('TNTMOCOAppBundle:Backend/DataEntry:totalNumber')) }}
				</a>
				
				{% if app.user.isAdmin %}
				<a class="item" href="{{ path('reports') }}">
					<i class="ordered list icon"></i> Reports
				</a>
				{% endif %}
				
				{#
				<a class="item">
					<i class="file outline icon"></i> Status File
				</a>
				#}
				
				
				{#
				<div class="header item">
					<i class="bullhorn icon"></i>
					News
				</div>
				#}
				
							
				
			  
			</div>
		
		</div>
	
	{% endif %} 
	
	
	{% block content %}{% endblock %}
	
</div>
{% endblock %}