{% extends "TNTMOCOAppBundle::backend.layout.html.twig" %}




{% block content %}


	<div id="content_wrapper">
		<div class="headerWrapper">
			<h4>
				<i class="user icon"></i>
				Users
			</h4>
		</div>
		
		{{ include ('TNTMOCOAppBundle:Backend/Users:mainMenu.html.twig', {'activeTab': 1}) }}
		
		<div class="desktop">
			<div class="tabSegments">			
				<div class="ui active tab segment stacked">					
					<div class="search">
					
						<input type="hidden" id="loadDepotsRoute" value="{{ path('users_depots') }}">
						<input type="hidden" id="userRoute" value="{{ path('users') }}"/>
						
						<div class="block first">
							<h3 class="ui header">
								<i class="search circular icon"></i>
								Search By Filters
							</h3>
						
							<div class="fieldsWrapper">	
								<form action="{{ path('users') }}">							
								<div class="ui form">
									
									<div class="ui two fields">
										<div class="field">
											<select name="property" id="userProperty">
												<option value="">Property</option>
												<option {% if app.request.get('property') == 'isActive.1' %}selected="selected" {% endif %}value="isActive.1">Active</option>
												<option {% if app.request.get('property') == 'isActive.0' %}selected="selected" {% endif %}value="isActive.0">Inactive</option>
												<option {% if app.request.get('property') == 'isNonLocked.0' %}selected="selected" {% endif %}value="isNonLocked.0">Blocked</option>
												<option {% if app.request.get('property') == 'isNonLocked.1' %}selected="selected" {% endif %}value="isNonLocked.1">Non blocked</option>
												<option {% if app.request.get('property') == 'isNew.1' %}selected="selected" {% endif %}value="isNew.1">New</option>
												<option {% if app.request.get('property') == 'isNew.0' %}selected="selected" {% endif %}value="isNew.0">Old</option>
											</select>
										</div>
										<div class="field">
											<select name="role" id="search_role">
												<option value="">Role</option>
												{% for role in roles %}
													<option {% if app.request.get('role') == role.id %}selected="selected" {% endif %}value="{{ role.id }}">{{ role.name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									
									<div class="ui two fields">
										{% if countries|length > 0 %}
											<div class="field">
												<select name="country" id="search_country"{% if countries|length == 1 %} style="display:none;"{% endif %}>
													<option value="">Country</option>
													{% for country in countries %}
														<option {% if app.request.get('country') == country.id %}selected="selected" {% endif %}value="{{ country.id }}">{{ country.name }}</option>
													{% endfor %}
												</select>
											</div>										
										{% endif %}
										<div class="field">
											<select name="depot" id="search_depot"{% if app.request.get('role') != 5 %} disabled="disabled"{% endif %}>
												<option value="">Depot</option>	
												{% if depots is defined and depots|length %}
													{% for depot in depots %}
														<option {% if app.request.get('depot') == depot.id %}selected="selected" {% endif %}value="{{ depot.id }}">{{ depot.name }}</option>
													{% endfor %}
												{% endif %}										
											</select>
										</div>
									</div>
									<div class="right">
										<div class="ui labeled icon blue small button" onclick="userSearch1();">
											<i class="inverted search icon"></i>
											Find
										</div>
									</div>
									<input type="submit" class="hidden" id="userSearchSubmit_1">
									
								</div>
								</form>
							</div>
						</div>						

						<div class="block second">
							<h3 class="ui header">
								<i class="search circular icon"></i>
								Text Search
							</h3>
							<div class="fieldsWrapper">
								<form action="{{ path('users') }}">
									<div class="ui form">
										<div class="field">
											<select name="field" id="userFieldName">
												<option {% if app.request.get('field') == 'username' %}selected="selected" {% endif %}value="username">Username</option>
												<option {% if app.request.get('field') == 'email' %}selected="selected" {% endif %}value="email">E-mail</option>
												<option {% if app.request.get('field') == 'firstName' %}selected="selected" {% endif %}value="firstName">First Name</option>
												<option {% if app.request.get('field') == 'lastName' %}selected="selected" {% endif %}value="lastName">Last Name</option>
											</select>
										</div>
										
										<div class="field">										
											<input name="value" id="userFieldValue" type="text" value="{{ app.request.get('value') }}"/>
										</div>
										
										<div class="right">
											<div class="ui labeled icon blue small button" onclick="userSearch2();">
												<i class="inverted search icon"></i>
												Find
											</div>
										</div>
										<input type="submit" class="hidden" id="userSearchSubmit_2">
										
									</div>
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				
				</div>
				
				
				<div class="ui active tab segment stacked">
					<div class="ui form">
					
						<h3 class="ui header">
							<i class="users circular icon"></i>
							All Users
						</h3>
					
					
						<table class="ui basic table small usersTable">
							<thead>
								<tr>
									<th>Active</th>
									<th>Username</th>
									<th>First Name</th>														
									<th>Last Name</th>
									<th>E-mail</th>														
									<th>Phone</th>
									<th>Role</th>
									<th>Countries</th>
									<th>Depot</th>
									<th>Properties</th>
									<th>Edit</th>																																
								</tr>
							</thead>
							
							<tbody>					
							{% for user in users %}						
								<tr id="user_{{ user.id }}">
									<td>
										<div class="ui toggle checkbox">								
											<input type="checkbox" name="setIsActive" value="{{ user.id }}" {% if user.isActive %}checked="checked"{% endif %}>
											<label></label>
										</div>																														
									</td>
									<td>{{ user.username }}</td>
									<td>{{ user.firstName }}</td>
									<td>{{ user.lastName }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.phone }}</td>
									<td>{{ user.role.name }}</td>
									<td>{% if user.countries|length %}{{ user.countries|join(', ') }}{% else %}{{ user.country }}{% endif %}</td>
									<td>{% if user.depot %}{{ user.depot.name }}{% endif %}</td>
									<td>
										{% if user.isNew %}<i class="icon empty star purple large"></i>{% endif %}
										{% if not user.isNonLocked %}<i class="icon block basic red large"></i>{% endif %}
									</td>
									<td><a href="{{ path('users_edit', {'userId': user.id}) }}"><i class="icon edit blue large"></i></a></td>																									
									
								</tr>
								<tr class="hidden">
									<td colspan="11" class="profileWraper">
										<div class="ui inverted dimmer">
										    <div class="ui text large loader">Loading</div>
										</div>
										<div class="profile" id="profile_{{ user.id }}">
											
										</div>	
									</td>
								</tr>								
							{% endfor %}			
							</tbody>
						</table>
						<input type="hidden" class="entityName" value="User">
						
						{{ knp_pagination_render(users) }}
						
					</div>
											
				</div>							
			</div>
		</div>
	</div>


{% endblock %} 

