{% extends "TNTMOCOAppBundle::backend.layout.html.twig" %}




{% block content %}

	<div id="content_wrapper">
		<div class="headerWrapper">
			<h4>
				<i class="keyboard icon"></i>
				Data Entry
			</h4>
		</div>
		
		{#
		<div class="tabMenu">
			<div class="ui pointing secondary menu floated left">
			    <a class="active item blue" data-tab="countriesList">
				    <i class="add sign box icon"></i>					    
				    Some Notifications
				</a>
			    <a class="item blue" data-tab="activeCountriesEditing">
				    <i class="list folder icon"></i>
				    Another data
				</a>	    
			</div>
		</div>
		#}	
			
		<div class="clear"></div>
	
		<div class="desktop dataEntry">	
			
			<div class="tabSegments">
			
				<div class="ui active tab segment stacked">
				
					<div class="ui form borBot" style="width:100%;">
						
						<select id="data_entry_countries" class="countries left">					
							<option value="">Choose a country</option>
							
							{% set countryId = (depot is defined) ? depot.country.id : app.request.get('countryId') %}
								
							{% for country in countries %}
								{% set selected = country.id == countryId ? 'selected="selected"' : '' %}
								{% if country.isActive %}<option value="{{ country.id }}" {{ selected }}>{{ country.name }}</option>{% endif %}
							{% endfor %}
						</select>
						
						{% if roles|length > 0 %}
							<select id="data_entry_roles" class="left marL15">					
								<option value="">Choose a role</option>
								
								{% set roleId = app.request.get('roleId')|length ? app.request.get('roleId') : 0 %}
									
								{% for role in roles %}
									{% set selected = role.id == roleId ? 'selected="selected"' : '' %}
									<option value="{{ role.id }}" {{ selected }}>{{ role.name }}</option>
								{% endfor %}
							</select>
						{% endif %}
						
						<input type="hidden" id="currentUserRole" value="{{ app.user.getRoleSystemName }}">
						
						{% if countryId|length > 0 %}
							<div class="right refreshData">
								<div class="ui labeled icon blue mini button" onclick="loadDataEntryDepots();">
									<i class="inverted refresh icon"></i>
									Refresh
								</div>
							</div>
						{% endif %}
						<div class="clear"></div>						
						<br>
					</div>					
															
					{% if depots is defined %}
						
						{% if depots|length > 0 %}
					
						<div class="ui grid">
							<div class="left floated three wide column">
							
								<div class="ui small header">
									<i class="map marker circular icon"></i>
									Depots
								</div>
								
								<div class="smallText">
									Sort by: 
									<a href="{{ path('data_entry_country', {'countryId': countryId, 'roleId': roleId}) }}" {% if orderBy == 'name' %} class="active" {% endif %}>Name</a> 
									/ 
									<a href="{{ path('data_entry_country', {'countryId': countryId, 'roleId': roleId, 'orderBy': 'docsNumber'}) }}" {% if orderBy == 'docsNumber' %} class="active" {% endif %}>Docs</a>
								</div>
								
								{% set currentDepotId = depot is defined ? depot.id : 0 %}
								{% set currentDepotFilesNumber = 0 %}
								
								<div class="ui vertical fluid small menu depotsList">
									{% for depot in depots %}
										{% set active = currentDepotId == depot.id ? 'active' : '' %}
										
										<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
											<a class="item {{ active }} blue" onclick="$(this).closest('form').submit();">
												{{ depot.name }} 
												{% if depot.pdfFilesNumber > 0 %}<div class="ui {% if active|length > 0 %} blue {% endif %} label">{{ depot.pdfFilesNumber }}</div>{% endif %}											
											</a>
											<input type="hidden" name="orderBy" value="{{ orderBy }}">
											<input type="hidden" name="roleId" value="{{ roleId }}">
										</form>
										
										
										{#
										<a class="item {{ active }} blue" href="{{ path('data_entry_depot', {'depotId': depot.id, 'roleId': roleId, 'orderBy': orderBy}) }}">
											{{ depot.name }} 
											{% if depot.pdfFilesNumber > 0 %}<div class="ui {% if active|length > 0 %} blue {% endif %} label">{{ depot.pdfFilesNumber }}</div>{% endif %}											
										</a>
										#}
										
										{% if currentDepotId == depot.id %}
											{% set currentDepotFilesNumber = depot.pdfFilesNumber %}
										{% endif %} 
																				
									{% endfor %}
								</div>								
								
								<br />								
								
							</div>
							
							
							<div class="left floated twelve wide column">						
								
								{% if file is defined %}
								
									{% if(roleSystemName == "ROLE_USER") %}
										{% set title = 'Documents' %}
									{% else %}
										{% set title = 'Rejected Documents' %}
									{% endif %}
																
									<div class="ui small header">
										<i class="text file circular icon"></i>
										{{ title }}
									</div>									
									
									{% if(roleSystemName == "ROLE_USER") %}
										<div class="ui vertically divided grid">
											<div class="two column row">
												<div class="column">
													<div class="info">										
														User ID: <span>[ {{ file.user.id }} ]</span> <br>
														Username:  <span>[ {{ file.user.username }} ]</span> <br>
														Created: <span>[ {{ file.datetime|date }} ]</span> <br>														
														{% if file.completedInfo|trim|length > 0 %}
															<div class="ui small header">	
																<i class="icon inverted circular blue pencil"></i> Completed Info
															</div>
															<div class="completedInfo">
																{{ file.completedInfo }}
															</div>
														{% endif %}	
													</div>											
												</div>
												<div class="column" style="vertical-align: bottom;">																									
													<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
														<div class="right">														
															<div class="ui labeled icon blue small button" onclick="$(this).closest('form').submit();">
																<i class="inverted checkmark icon"></i>
																Complete
															</div>
															<input type="hidden" name="prevFileId" value="{{ file.id }}">
															<input type="hidden" name="reject" value="0">
															<input type="hidden" name="complete" value="1">
															<input type="hidden" name="orderBy" value="{{ orderBy }}">
															<input type="hidden" name="roleId" value="{{ roleId }}">
														</div>												
													</form>
												</div>
											</div>
										</div>
									{% else %}
										<div class="ui stacked blue segment">
											<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
											
												<div class="ui ribbon blue label">{{ file.rejectionReason.name }}</div><br><br>
												
												<div class="ui vertically divided grid">
													<div class="two column row">
														<div class="column">
															<div class="info">
																<div class="ui small header">
																	<i class="icon inverted circular blue info letter"></i>General
																</div>
																User ID: <span>[ {{ file.user.id }} ]</span> <br>
																Username:  <span>[ {{ file.user.username }} ]</span> <br>
																Created: <span>[ {{ file.datetime|date }} ]</span> <br>
															</div>
														</div>
														
														<div class="column">
															<div class="info">
																{% if file.comments|trim|length > 0 %}
																	<div class="ui small header">
																		<i class="icon inverted circular blue comment"></i> Comments
																	</div>
																	{{ file.comments }} <br>													
																{% endif %}
															</div>
														</div>
													</div>
													
													<div class="one column row">
														<div class="column">														
															<div class="info">
																<div class="ui small header">
																	<i class="icon inverted circular blue pencil"></i> Complete Info
																</div>
																<textarea style="height: 130px;" name="completedInfo" id="completedInfo"></textarea><br>
															</div>														
														</div>
													</div>
												</div>	
													
												
												<div class="right">														
													<div class="ui labeled icon blue small button" onclick="if( $('#completedInfo').val().trim().length == 0 ){ alert('Please complete info'); return; }$(this).closest('form').submit();">
														<i class="inverted forward mail icon"></i>
														Return
													</div>
													<input type="hidden" name="prevFileId" value="{{ file.id }}">
													<input type="hidden" name="reject" value="0">
													<input type="hidden" name="complete" value="0">
													<input type="hidden" name="orderBy" value="{{ orderBy }}">
													<input type="hidden" name="roleId" value="{{ roleId }}">
												</div>
												<div class="clear"></div>												
											</form>
										</div>
										
									{% endif %}	
										
									<iframe src="http://tnt-moco.loc/assets/libs/pdfjs/web/viewer.html?file={{ file.getWebPath }}" width="100%" height="600" style="border:1px solid #bcbcbc;"></iframe>
									
									<br><br>
									
									
									<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
										<div class="left">
											
											{% if(roleSystemName == "ROLE_USER") %}	
												<div class="ui labeled icon red small button" id="rejectDoc">
													<i class="inverted reply mail icon"></i>
													Reject
												</div>
																								
												<input type="hidden" name="prevFileId" value="{{ file.id }}">
												<input type="hidden" name="reject" value="1">
												<input type="hidden" name="complete" value="0">
												<input type="hidden" name="orderBy" value="{{ orderBy }}">
												<input type="hidden" name="roleId" value="{{ roleId }}">
												
											{% else %}
												<div class="ui labeled icon red small button" onclick="if( confirm('Are you sure?') ){$(this).closest('form').submit();}">
													<i class="inverted trash icon"></i>
													Delete
												</div>
																								
												<input type="hidden" name="prevFileId" value="{{ file.id }}">
												<input type="hidden" name="reject" value="1">
												<input type="hidden" name="complete" value="0">
												<input type="hidden" name="delete" value="1">
												<input type="hidden" name="orderBy" value="{{ orderBy }}">
												<input type="hidden" name="roleId" value="{{ roleId }}">
											{% endif %}
											
										</div>
									</form>
									
									{#% if nextFile.id > 0 %#}
									{% if currentDepotFilesNumber > 1 %}
										<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
											<div class="right">
												<div class="ui labeled icon black small button right" onclick="$(this).closest('form').submit();">
													<i class="inverted right arrow icon"></i>
													Next
												</div>
												
												{% set reject = (roleSystemName == "ROLE_USER") ? 0 : 1 %}
																								
												<input type="hidden" name="prevFileId" value="{{ file.id }}">
												<input type="hidden" name="reject" value="{{ reject }}">
												<input type="hidden" name="complete" value="0">
												<input type="hidden" name="orderBy" value="{{ orderBy }}">
												<input type="hidden" name="roleId" value="{{ roleId }}">
												
											</div>
										</form>
									{% endif %}
									
									
									<div id="rejectionReasonTemplate" class="hidden">
										<form action="{{ path('data_entry_depot', {'depotId': depot.id}) }}" method="post">
											<div class="rejectionReason">											
												<select name="reasonId">
													<option value="">Choose a reason</option>
													<option value="1">Bad quality</option>
													<option value="2">Missing info</option>
												</select>
												
												<div class="clear"></div>
												
												<label>Comments:</label>
												<textarea name="comments"></textarea>												
												
												<div class="left">
													<div class="ui labeled icon red small button" onclick="if($(this).closest('form').find('select').val() == ''){ alert('Please choose a reason') } else{ $(this).closest('form').submit(); }">
														<i class="inverted reply mail icon"></i>
														Confirm Rejection
													</div>													
													
													<input type="hidden" name="prevFileId" value="{{ file.id }}">
													<input type="hidden" name="reject" value="1">
													<input type="hidden" name="complete" value="0">
													<input type="hidden" name="orderBy" value="{{ orderBy }}">
													<input type="hidden" name="roleId" value="{{ roleId }}">
													
												</div>												
											</div>
										</form>									
									</div>
									
							
								{% else %}								
									{% if depot is defined %}
										<div class="ui small header">
											<i class="info letter circular icon"></i>
											No operations in the selected round
										</div>	
									{% endif %}
								{% endif %}
																	
								</div>
							
						</div>
						
						{% else %}
							<div class="ui small header">
								<i class="info letter circular icon"></i>
								No depots found
							</div>				
						{% endif %}
					
					{% endif %}
					
					
																				
				</div>
							
			</div>
		</div>
	</div>


{% endblock %} 

