{% extends "TNTMOCOAppBundle::backend.layout.html.twig" %}




{% block content %}


	<div id="content_wrapper">
		<div class="headerWrapper">
			<h4>
				<i class="globe icon"></i>
				Countries
			</h4>
		</div>
		
		{{ include ('TNTMOCOAppBundle:Backend/Countries:mainMenu.html.twig', {'activeTab': 2}) }}	
		
		<div class="desktop">
			<div class="tabSegments">	
				<div class="ui active tab segment stacked countriesAssigning">
					
					{% if not adminForm.vars.valid or not userForm.vars.valid %}
						<div class="ui icon message red">
							<i class="remove sign icon"></i>
							<div class="content">						    
								<strong>THERE ARE SOME ERRORS:</strong><br>
								{{ form_errors(adminForm.username) }}
								{{ form_errors(adminForm.password)|raw }}
								{{ form_errors(adminForm.email) }}
						    	{{ form_errors(userForm.username) }}
								{{ form_errors(userForm.password)|raw }}
								{{ form_errors(userForm.email) }}
							</div>
						</div>
					{% endif %}
										
					<div id="confirmAssign" class="ui icon message yellow"{% if not userShouldConfirmAssigning %} style="display: none;"{% endif %}>
						{% if userShouldConfirmAssigning %}
							<i class="warning icon"></i>
							<div class="content">						    
								<strong>WARNING! THIS USER HAS NOT BEEN CREATED YET</strong> <br>																
								There are <strong>country admins</strong> already assigned to some of choosen countries: <br>
								
								{% for admin in alreadyAssignedAdmins %}								
									User <strong>{{ admin.username }}</strong> assigned to [{{ admin.countries|join(', ') }}]<br>									
								{% endfor %}								
								Please confirm your action if you want choosen countries will be assigned to new user.
								
								
								<br>
								<div class="ui labeled icon blue small button confirm" onclick="confirmTrue($('#createAdminSubmitButton'));">
									<i class="inverted checkmark icon"></i>
									Confirm
								</div>
								
							</div>
						{% endif %}		
					</div>
						
					{% if created %}
						<div id="successAssign">
							<div class="ui icon message blue"> 
								<i class="save icon"></i>
								<div class="content">						    
									User has been created successfully
								</div>
							</div>
						</div>
					{% endif %}
						
					<div class="block">
						<div class="ui form">
							<select class="countries" id="countryAssign">					
								<option value="">Choose a country</option>	
								{% for country in countries %}
									{% if country.isActive %}<option value="{{ country.id }}"{% if app.request.get("user") and not created and app.request.get("user").country == country.id %} selected="selected"{% endif %}>{{ country.name }}</option>{% endif %}
								{% endfor %}
							</select>
						</div>
						<input type="hidden" id="usersAssignPath" value="{{ path('countries_assign_users') }}"/> 
					</div>
					<div class="block">
						<div class="ui form">
							<div class="ui tiny header">
								<i class="user circular icon"></i>
								Assign Country Admin
							</div>
							<div class="fieldsWrapper">
							
								<div id="usersCounryAdmins">
									<div class="field">
										<input type="text" class="counryAdminsSearch" value="" placeholder="Start type to find Admin...">
									</div>								
																		
									<div class="users_scrollbar grayGradient">
										<div class="counryAdminsList" style="padding:5px 0px;">												
											{% for user in users %}
												{% if user.role.id == 2 %}
													<div class="item rounded">
														{% set countryIds = 0 %}
														{% if user.countries|length %}
															{% for userCountry in user.countries %}
																{% if userCountry %}
																	{% for country in countries %}
																		{% if country.name == userCountry.country %}
																			{% if countryIds != 0 %}																		
																				{% set countryIds = countryIds ~ country.id ~ ','|lower %}
																			{% else %}
																				{% set countryIds = country.id ~ ','|lower %}
																			{% endif %}
																		{% endif %}
																	{% endfor %}
																{% endif %}
															{% endfor %}
														{% endif %}											
														<div class="username" countryId="{{ countryIds }}" userId="{{ user.id }}">{{ user.username }}</div>
													</div>
													<div class="clear"></div>
												{% endif %}
											{% endfor %}
										</div>										
									</div>
								</div>
								
								<div class="ui labeled icon blue mini button" id="adminUsersAssign" onclick="userAssign($(this), false);">
									<i class="inverted save icon"></i>
									Assign
								</div>
								
								
								<br><br><strong>Or create new Admin...</strong><br><br>
								
								<form method="post">									
									{{ form_widget(adminForm.country) }}
									<div class="field">
										{{ form_label(adminForm.username) }} <span>*</span>
										{{ form_widget(adminForm.username) }}
									</div>
									
									<div class="field">
										{{ form_label(adminForm.password) }} <span>*</span>
										{{ form_widget(adminForm.password) }}		
									</div>
									
									{{ form_widget(adminForm.role) }}							
									
									<div class="field">
										{{ form_label(adminForm.firstName) }} <span>*</span>
										{{ form_widget(adminForm.firstName) }}
									</div>
									
									<div class="field">
										{{ form_label(adminForm.lastName) }} <span>*</span>
										{{ form_widget(adminForm.lastName) }}
									</div>
									
									<div class="field">
										{{ form_label(adminForm.email) }} <span>*</span>
										{{ form_widget(adminForm.email) }}
									</div>
									
									<div class="field">
										{{ form_label(adminForm.phone) }} <span>*</span>
										{{ form_widget(adminForm.phone) }}
									</div>
									
									<div class="clear"></div>
									
									<div class="field hidden">
										<div class="ui toggle checkbox">
											{{ form_widget(userForm.pickup) }}														
											{{ form_label(userForm.pickup) }}							
										</div>
									</div>
									
									<div class="field hidden">
										<label>Depot</label>
										<div class="clear"></div>
										{{ form_widget(userForm.depot) }}
									</div>
									
									<div class="ui labeled icon blue mini button" onclick="submitUserForm($('#createAdminSubmitButton'));">
										<i class="inverted save icon"></i>
										Create and Assign
									</div>
									<input type="submit" class="hidden" id="createAdminSubmitButton" />
								</form>
							</div>
							
							
							
						</div>					
					</div>
					<div class="block last">
						<div class="ui form">
							<div class="ui tiny header">
								<i class="users circular icon"></i>
								Assign Users
							</div>							
							
							<div class="fieldsWrapper">
							
								<div id="usersSearch">
									
									<div class="field">
										<input type="text" class="usersSearch" value="" placeholder="Start type to find User...">
									</div>								
																			
									<div class="users_scrollbar grayGradient">
										<div class="usersList" style="padding:5px 0px;">												
											{% for user in users %}
												{% if user.role.id > 2 %}
													<div class="item rounded">
														<div class="username" countryId="{% if user.country %}{{ user.country.id }}{% else %}0{% endif %}" userId="{{ user.id }}">{{ user.username }}</div>
													</div>
													<div class="clear"></div>
												{% endif %}
											{% endfor %}
										</div>										
									</div>
								</div>
								
								<div class="ui labeled icon blue mini button" id="usersAssign" onclick="userAssign($(this), false);">
									<i class="inverted save icon"></i>
									Assign
								</div>
								
								
								<br><br><strong>Or create new User...</strong><br><br>
								
								<form method="post">																		
									{{ form_widget(userForm.country) }}
									<div class="field">
										{{ form_label(userForm.username) }} <span>*</span>
										{{ form_widget(userForm.username) }}
									</div>
									
									<div class="field">
										{{ form_label(userForm.password) }} <span>*</span>
										{{ form_widget(userForm.password) }}						
									</div>
									
									<div class="field">
										{{ form_label(userForm.role) }} <span>*</span>
										<div class="clear"></div>
										{{ form_widget(userForm.role) }}
									</div>								
									
									<div class="field">
										{{ form_label(userForm.firstName) }} <span>*</span>
										{{ form_widget(userForm.firstName) }}
									</div>
									
									<div class="field">
										{{ form_label(userForm.lastName) }} <span>*</span>
										{{ form_widget(userForm.lastName) }}
									</div>
									
									<div class="field">
										{{ form_label(userForm.email) }} <span>*</span>
										{{ form_widget(userForm.email) }}
									</div>
									
									<div class="field">
										{{ form_label(userForm.phone) }} <span>*</span>
										{{ form_widget(userForm.phone) }}
									</div>
									
									<div class="clear"></div>
									
									<div class="field hidden">
										<div class="ui toggle checkbox">
											{{ form_widget(userForm.pickup) }}														
											{{ form_label(userForm.pickup) }}							
										</div>
									</div>
									
									<div class="field hidden">
										<label>Depot</label>
										<div class="clear"></div>
										{{ form_widget(userForm.depot) }}
									</div>
									
									<div class="ui labeled icon blue mini button" onclick="submitUserForm($('#createSubmitButton'));">
										<i class="inverted save icon"></i>
										Create and Assign
									</div>
									<input type="submit" class="hidden" id="createSubmitButton" />								
								</form>
								
							</div>
							
							
						</div>
					</div>
					<div class="clear"></div>					
				</div>				
			</div>
		</div>
	</div>


{% endblock %} 

