					<div id="message">
						{% if alreadyAssignedAdmins.admins or alreadyAssignedAdmins.users %}				
						<div id="confirmAssign" class="ui icon message yellow">
							<i class="warning icon"></i>
							<div class="content">	
								{% if alreadyAssignedAdmins.admins %}					    
									<strong>WARNING! THIS USER HAS NOT BEEN ASSIGNED YET</strong> <br>																
									There are <strong>country admins</strong> already assigned to chosen country: <br>
									{% for admin in alreadyAssignedAdmins.admins %}								
										User <strong>{{ admin.username }}</strong> assigned to [{{ admin.countries|join(', ') }}]<br>									
									{% endfor %}
									Please confirm your action if you want choosen countries will be assigned to new user.
									
									
									<br>
									<div class="ui labeled icon blue small button confirm" onclick="userAssign($('#adminUsersAssign'), true);">
										<i class="inverted checkmark icon"></i>
										Confirm
									</div>
									
									<div class="ui labeled icon red small button confirm" onclick="$('#confirmAssign').hide();">
										<i class="inverted remove icon"></i>
										Cancel
									</div>
								{% endif %}
								
								{% if alreadyAssignedAdmins.users %}					    
									<strong>WARNING! THESE USERS HAVE NOT BEEN ASSIGNED YET</strong> <br>	
									<!-- need added text -->															
									There are <strong>country admins</strong> already assigned to chosen country: <br>
									{% set usersId = '' %}
									{% for user in alreadyAssignedAdmins.users %}
										{% if usersId != '' %}																		
											{% set usersId = usersId ~ ',' ~ user.id|lower %}
										{% else %}
											{% set usersId = user.id %}
										{% endif %}
										User <strong>{{ user.username }}</strong> assigned to [{{ user.country.name }}]<br>									
									{% endfor %}
									Please confirm your action if you want choosen countries will be assigned to new user.									
									<input type="hidden" id="usersNotAssign" value="{{ usersId }}"/>
									<br>
									<div class="ui labeled icon blue small button confirm" onclick="userAssign($('#usersAssign'), true);">
										<i class="inverted checkmark icon"></i>
										Confirm
									</div>
									
									<div class="ui labeled icon red small button confirm" onclick="$('#confirmAssign').hide();">
										<i class="inverted remove icon"></i>
										Cancel
									</div>
								{% endif %}
								
							</div>
						</div>					
						{% endif %}
						
						{% if created and alreadyAssignedAdmins.users == false %}
							<div id="success">
								<div class="ui icon message blue"> 
									<i class="save icon"></i>
									<div class="content">						    
										{{ actionName == 'create' ? 'User has been created successfully' : 'Users have been assigned successfully' }}
									</div>
								</div>
							</div>
						{% endif %}
					</div>