{% extends "TNTMOCOAppBundle::backend.layout.html.twig" %}




{% block content %}


	<div id="content_wrapper">
		<div class="headerWrapper">
			<h4>
				<i class="map marker icon"></i>
				Depots
			</h4>
		</div>
		
		{{ include ('TNTMOCOAppBundle:Backend/Depots:mainMenu.html.twig', {'activeTab': 1}) }}
		
		<div class="desktop">		
			<div class="tabSegments">	
				
				<div class="ui active tab segment stacked depots">
				
					{% if message is defined and message.success|length %}
						<div class="ui icon message blue"> 
							<i class="save icon"></i>
							<div class="content">
								{% for mesSuc in message.success %}
									{{ mesSuc }}
								{% endfor %}
							</div>
						</div>		
					{% endif %}
					
					<form name="depots" method="post" action="{{ path('depots') }}" enctype="multipart/form-data">
					
					<div class="ui form">
						<div class="field">
							{{ form_label(form.file) }}
							
							<div class="ui input">
								{{ form_widget(form.file) }}
							</div>
							{% if form.file.vars.errors|length %}
								<div class="ui red message">
									{{ form_errors(form.file) }}
								</div>
							{% endif %}
						</div>
						<div class="clear"></div>   
			            <div class="createUserButtonWrapper">
							<div class="ui labeled icon blue small button" onclick="$('#submitButton').click();">
								<i class="inverted upload icon"></i>
								Upload
							</div>
							<input type="submit" class="hidden" id="submitButton">
						</div>
					</div>
					{{ form_end(form) }}						
				</div>							
			</div>
		</div>
	</div>


{% endblock %} 

